@font-face {
  font-family: 'Akzidenz Grotesk Black';
  font-style: normal;
  font-weight: normal;
  src: local('Akzidenz Grotesk Black'), url('assets/fonts/Akzidenz-grotesk-black.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Regular'), url('assets/fonts/georgia.woff') format('woff');
}

